.numbar{
    padding: 10px;
    & .slider_range_wrap {
        width: 100%;
        height: 24px;
        padding: 6px 0;
        box-sizing: content-box;
        position: relative;
        >* {
            position: absolute;
        }
        >.slider_bg {
            width: 100%;
            height: 1px;
            margin-top: -1px;
            top: 50%;
        }
        >.slider_range_red {
            width:100%;
            height: 3px;
            margin-top: -1px;
            background-color: #5dcac6;
            z-index: 1;
        }
        >.slider_range_grey {
            width:100%;
            background-color: #bebebe;
            z-index: 0;
        }
        & .slider_btn {
            width: 22px;
            height: 100%;
            display: inline-block;
            z-index: 5;
            top: 0;
        }
        & .slider_btn span {
            width: 20px;
            height: 20px;
            display: inline-block;
            cursor: pointer;
            background-color: #f2f2f2;
            border-radius: 3px;
            margin-top: 7px;
            border: 1px solid #bebebe;
            -webkit-box-shadow: 0px 2px 1px 0px rgba(216, 216, 216, 1);
            -moz-box-shadow: 0px 2px 1px 0px rgba(216, 216, 216, 1);
            box-shadow: 0px 2px 1px 0px rgba(216, 216, 216, 1);
            &:hover,
            &.active {
                border: 1px solid #57b5b2;
            }
        }
        >.slider_btn_before {
            margin-left: -10px;
        }
        >.slider_btn_after {
            left: calc(100% - 10px);
        }
    }
    &.disable {
        & .slider_btn span {
            background-color: #eee;
            cursor: default;
            &:hover,
            &.active {
                border: 1px solid #bebebe;
            }
        }
    }
}